# these are pretty much taken from the CI file 
# https://github.com/mosra/m.css/blob/master/package/ci/circleci.yml
# it is good to track that to ensure things work fine

pelican==4.2.0
jinja2
Pyphen==0.9.5
Pillow 
matplotlib==3.3.4
attrs==19.3.0
docutils==0.16